:root {
  --primary-color: #f27a1a;
  --main-link-color: #333;
  --sub-link-color: #666;
  --header-link-color: #999;
  --account-link-hover-color: var(--primary-color);
  --secondary-text-color: #fff;
  --banner-color: #c4c4c4;
  --banner-content-color: #1b1b1b;
  --search-input-color: #f3f3f3;
  --user-menu-border-color: #e6e6e6;
  --seperator-color: #ececec;
  --menu-index: 1;
}

/* RESET CSS START */
html,
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* RESET CSS END */

.container {
  width: 1080px;
  margin: 0 auto;
}

rectangle {
  position: absolute;
  background: #e8e8e8;
  width: 100vw;
  height: 1px;
  top: 191px;
  left: 0px;
}

/* HEADER LINKS START*/
.header-links {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.header-links a {
  color: var(--header-link-color);
  font-size: 12px;
}

.header-links a:hover {
  color: var(--sub-link-color);
}

/* HEADER LINKS END */

/* LOGO-SEARCH-ACCOUNT CONTAINER START */
.logo-search-account-container {
  display: grid;
  grid-template-columns: 140px 1fr 335px;
  margin-top: 10px;
}

/* LOGO-SEARCH-ACCOUNT CONTAINER END */

/*SEARCH BAR STYLING START*/
.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 42px;
  background-color: var(--search-input-color);
  border-radius: 6px;
  padding: 10px;
  position: relative;
  width: 600px;
}

.search input {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  font-size: 12px;
}

.search button {
  background: none;
  border: none;
  cursor: pointer;
}

.search>button::after {
  content: url(../../assets/icons/icon-search.svg);
}

.search .searchbar-dropdown {
  background-color: var(--secondary-text-color);
  width: 600px;
  height: 167px;
  z-index: var(--menu-index);
  position: absolute;
  top: 100%;
  right: -1px;
  left: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: none;
}

.search:focus-within .searchbar-dropdown {
  display: inline;
  box-shadow: 0px 0px 0px 1px var(--primary-color);
}

.search:focus-within {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0px 0px 0px 1px var(--primary-color);
}

.searchbar-dropdown {
  padding: 17px 10px 0 18px;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
}

.dropdown-header span {
  font-size: 12px;
  color: var(--primary-color);
}

.dropdown-header button {
  font-size: 12px;
  color: var(--main-link-color);
  font-family: Source Sans Pro;
}

.dropdown-list {
  padding: 0;
  margin: 0;
}

.dropdown-list a {
  color: var(--main-link-color);
  font-size: 12px;
}

/*SEARCH BAR STYLING END*/

/* HEADER ACCOUNTS NAV START */

.logo-search-account-container .accounts-nav {
  height: 42px;
  justify-content: right;
}

.accounts-list ul {
  height: 100%;
}

.accounts-nav li {
  height: 100%;
  display: flex;
  align-items: center;
}

.accounts-nav ul {
  margin: 0;
}

.account-list {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  font-size: 12px;
  height: 100%;
  padding: 0;
  margin-left: auto;
}

.account-list li {
  cursor: pointer;
}

.account-list li a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--main-link-color);
}

.account-list li:hover > a {
  color: var(--primary-color);
}

.account-list li:hover > a svg path {
  fill: var(--primary-color)
}

.account-list li:first-child {
  color: var(--primary-color);
}

.account-list li:hover {
  position: relative;
}

.account-list li:hover .user-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HEADER ACCOUNTS NAV END */

/* USER-MENU START */

.user-menu {
  display: none;
  width: 170px;
  height: 289px;
  padding: 15px 10px;
  background-color: var(--secondary-text-color);
  border: 1px solid var(--user-menu-border-color);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
  position: absolute;
  top: 41px;
  left: -60px;
  z-index: var(--menu-index);
}

.user-menu:after,
.user-menu:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--secondary-text-color);
  top: -10px;
  transform: rotate(180deg);
  content: "";
  left: 59%;
  margin-left: -10px;
  position: absolute;
}

.user-menu:before {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid;
  border-top-color: inherit;
  top: -11px;
  margin-left: -11px;
}

.user-menu li {
  font-size: 14px;
  color: #1b1b1b;
  height: 18px;
}

.user-menu li:hover>a svg path {
  fill: var(--primary-color);
}

/* USER-MENU END */

/* NAVIGATION MENU START */
.nav-menu {
  margin: 30px 0;
  width: 1095px;
}

.nav-menu-main-categories {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0;
  text-align: center;
}

.nav-menu-main-categories>li {
  /* padding: 0 25px 9px 25px; */

  cursor: pointer;
}

.nav-menu-main-categories>li:first-child {border-bottom: 1px solid white}
.nav-menu-main-categories>li:hover {
  border-bottom: 1px solid var(--primary-color);
}

.nav-menu-main-categories>li>a {
  font-size: 14px;
  font-weight: 600;
  color: var(--main-link-color);
  white-space: nowrap;
  padding: 0 25px 9px 25px;
  display: inline-block;
}

.nav-menu-sub-categories {
  display: none;
  width: 1100px;
  height: 335px;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  left: 0;
  top: 30px;
  gap: 20px;
  padding: 24px;
  text-align: initial;
  font-size: 13px;
  color: var(--sub-link-color);
  z-index: var(--menu-index);
}

.nav-menu-dropdown-links {
  font-size: 13px;
  line-height: 16px;
  color: var(--sub-link-color);
}

.nav-menu-dropdown-links:hover {
  color: var(--primary-color);
  text-decoration: underline;
  transition: color 250ms, text-decoration 50ms;
}

.nav-menu-sub-categories ul li:first-child a {
  font-size: 15px;
  color: var(--main-link-color);
  line-height: 19px;
  font-weight: inherit;
}

.nav-menu-sub-categories ul li:first-child a:hover {
  color: var(--primary-color);
}

.nav-menu-main-categories>li:hover .nav-menu-sub-categories {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
}

.nav-menu-sub-categories img {
  width: 300px;
  height: 120px;
}

/* NAVIGATION MENU END */