@import url(./common.css);

/* STORY WRAPPER START */
.story-wrapper {
  margin-top: 29px;
  margin-bottom: 27px;
}
.story-list{
  display: flex;
  flex-direction: row;
  gap: 26px;
}
.story-item {
  display: flex;
  width: 75px;
  gap: 10px;
  flex-direction: column;
  align-items:center;
}

.story-item:hover > .story-image{
  border-radius:100%;
  border:1px solid var(--primary-color);
}
.story-item:hover > span{
  color:var(--primary-color)
}

.story-image{
  border-radius:100%;
  border:1px solid transparent
}

.story-item  > span {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: var(--main-link-color);
  width:69px;
}


/* STORY WRAPPER END */

/* CONTENT START */
.content {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  margin-left: -10px;
}

.short-banner {
  width: 330px;
  height: 330px;
  margin-bottom: 40px;
}

.long-banner {
  margin-bottom: 15px;
}

.long-banner:hover {
  outline: 1px solid var(--primary-color);
  outline-offset: -1px;
}

.long-banner a,
.long-banner a:visited,
aside a,
aside a:visited {
  text-decoration: none;
  color: #000000;
}

.long-banner:hover .banner-content {
  background: var(--primary-color);
}

.long-banner:hover .banner-link {
  display: block;
}

.long-banner-holder {
  background: var(--banner-color);
  width: 750px;
  height: 310px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  background: var(--banner-content-color);
  color: var(--secondary-text-color);
  height: 30px;
  font-size: 14px;
  padding: 6px 20px;
  display: flex;
  justify-content: space-between;
}

.banner-link {
  display: none;
  color: var(--secondary-text-color);
}

.banner-link img {
  margin-left: 7px;
}

.short-banner-holder {
  background: var(--banner-color);
  margin-bottom: 40px;
  width: 330px;
  height: 330px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main:last-child,
aside:last-child {
  margin-bottom: 0;
}
/* CONTENT END */
